@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.font-bold {
  font-weight: 700;
}

.navbar {
  background-color: #395b64;
  padding: 20px 10px;
  border: 1px solid black;
}

.menuList {
  padding-left: 50px;
}

.menuList li {
  display: inline;
}

.menuList a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px;
  color: white;
}

.popularHardware {
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

.popularHardware p {
  padding-bottom: 20px;
}

.hardwareContainer .box {
  position: relative;
  display: inline-block;
  padding: 10px 50px;
}

.footer {
  text-align: center;
  padding: 20px 0;
  background-color: gray;
}

.footer p {
  padding: 0;
}

.popularHardware {
  font-size: 2rem;
  background-color: gray;
}

.hardwareContainer {
  text-align: center;
}

.hardwareContainer {
  margin: 20px;
  padding: 20px;
}

.hardwareContainer .box img {
  height: 400px;
  width: 800px;
}

.hardwareContainer .box p {
  padding: 10px;
}

.keyboardsContainer {
  text-align: justify;
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  padding: 10px 500px;
}

.keyboardTypes,
.keyboardSwitches,
.keyboardMaterial {
  background-color: white;
}

.keyboardTypes p,
.keyboardSwitches p,
.keyboardMaterial p {
  padding: 10px 20px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  height: 80vh;
}

.home-container {
  display: grid;
  grid-template-areas:
    "nav head head"
    "nav main main"
    "nav main main"
    "nav foot foot";
  grid-template-columns: 1fr 5fr 5fr;
  grid-auto-rows: minmax(50px, auto);
}

.home-container > header,
.software-layout > header {
  grid-area: head;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: gray;
  border-bottom: 1px solid black;
}

.software-layout {
  display: grid;
  grid-template-areas:
    "nav head"
    "nav main"
    "nav main"
    "nav foot";
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
}

.logo-container {
  display: flex;
}

.home-container > nav,
.software-layout > nav {
  grid-area: nav;
  background-color: #395b64;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black;
}

#logo {
  height: 80px;
  padding: 5px;
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.nav-links li {
  padding: 10px;
}

.home-container > main {
  grid-area: main;
  background-color: lightgrey;
}

.software-layout > main {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
}

.nav-link {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.nav-link:hover {
  border-radius: 1px solid black;
  background-color: black;
}

.presentation {
  display: flex;
  padding: 10px;
  min-height: 50vh;
  background-image: url("../images/technology.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome-title {
  width: 50%;
  margin: auto;
  background-color: #2c3333;
  border-radius: 5px;
  opacity: 0.95;
  animation: slide-left 1s both;
}

.intro-text {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.intro-text h1 {
  text-align: center;
  padding: 5px 0;
  color: white;
}

.intro-text p {
  text-align: center;
  padding: 5px 10px;
  color: white;
}

.news-title {
  text-align: center;
  padding: 10px 0;
}

.news-container {
  display: flex;
  justify-content: center;
}

.news-container .news-column {
  text-align: center;
  padding: 10px 50px;
}

.news-container .news-column .box {
  text-align: center;
  padding: 10px;
  transition: box-shadow 0.5s 0s ease;
}

.box {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.box:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.news-container .news-column .box p {
  width: 60%;
  margin: auto;
}

.popular p {
  font-size: 30px;
  text-align: center;
  padding: 10px 0;
}

.software-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.software-container .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 10px;
  width: 50%;
  transition: box-shadow 0.5s 0s ease;
}

.software-container .box img {
  width: 100%;
  max-width: 800px;
  height: 600px;
  border-radius: 2rem;
  padding-bottom: 10px;
  flex: 1;
}

.software-container .box p {
  text-align: justify;
  padding: 20px;
  background-color: gray;
  border-radius: 10px;
  flex: 1;
}

.home-container > footer,
.software-layout > footer {
  grid-area: foot;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

#header {
  border-bottom: 1px solid black;
}

#navbar {
  background-color: #395b64;
  border-right: 1px solid black;
}

#logoBS {
  animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.box {
  transition: box-shadow 0.5s 0s ease;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.box:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#footer {
  border-top: 1px solid black;
}

.presentation {
  min-height: 50vh;
  background-image: url("../images/technology.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.intro-text {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #2c3333;
  opacity: 0.95;
  animation: slide-left 1s both;
}

#btn-enviar {
  background-color: #395b64;
  border: none;
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
