@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

$montserrat: "Montserrat", sans-serif;
$estilos: (
  colorFondoNavbar: #2c5364,
  colorFondoHeaderFooter: #028090,
  gradienteSoftware: linear-gradient(to right, #00b4db, #0083b0),
  gradienteHardware: linear-gradient(to right, #2193b0, #6dd5ed),
);

@mixin bordes($lado, $color) {
  @if $lado == "top" {
    border-top: 1px solid $color;
  } @else if $lado == "right" {
    border-right: 1px solid $color;
  } @else if $lado == "bottom" {
    border-bottom: 1px solid $color;
  } @else if $lado == "left" {
    border-left: 1px solid $color;
  } @else {
    border: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $montserrat;
  height: 100vh;
}

.container-fluid {
  height: 100vh;

  .font-bold {
    font-weight: 700;
  }

  .navbar {
    background-color: map-get($estilos, colorFondoNavbar);

    #logo {
      animation: rotate-in-center 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    .nav-link {
      &:hover {
        border-radius: 1px solid black;
        background-color: black;
      }
    }
  }

  #header {
    @include bordes(bottom, black);
    background-color: map-get($estilos, colorFondoHeaderFooter);
  }

  .presentation {
    min-height: 50vh;
    background-image: url("../images/technology.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .intro-text {
      border: 1px solid black;
      border-radius: 5px;
      background-color: #2c3333;
      opacity: 0.95;
      animation: slide-left 1s both;
    }
  }

  .box {
    border-radius: 10px;
    background-color: white;
    transition: box-shadow 0.5s 0s ease;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
  }

  #software-content {
    background: map-get($estilos, gradienteSoftware);
  }

  #hardware-content {
    background: map-get($estilos, gradienteHardware);
  }

  #keyboard-content {
    background-color: lightblue;
  }

  .jumbotron {
    background-image: url("../images/contact-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .boton {
    border: 1px solid black;
    padding: 5px;
  }

  .boton-enviar {
    @extend .boton;
    color: white;
    background-color: map-get($estilos, colorFondoHeaderFooter);
    border: none;
  }

  #footer {
    @include bordes(top, black);
    background-color: map-get($estilos, colorFondoHeaderFooter);
  }

  .animation-flip {
    animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .animation-title {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }

  .animation-bounce {
    animation: bounce-in-top 1.1s both;
  }
}

@media (min-width: 768px) {
  .w-md-100 {
    width: 100% !important;
  }
  .w-md-75 {
    width: 75% !important;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .w-md-25 {
    width: 25% !important;
  }
  .h-md-100 {
    height: 100% !important;
  }
  .h-md-75 {
    height: 75% !important;
  }
  .h-md-50 {
    height: 50% !important;
  }
  .h-md-25 {
    height: 25% !important;
  }
}

@media (min-width: 992px) {
  .w-lg-100 {
    width: 100% !important;
  }
  .w-lg-75 {
    width: 75% !important;
  }
  .w-lg-50 {
    width: 50% !important;
  }
  .w-lg-25 {
    width: 25% !important;
  }
  .h-lg-100 {
    height: 100% !important;
  }
  .h-lg-75 {
    height: 75% !important;
  }
  .h-lg-50 {
    height: 50% !important;
  }
  .h-lg-25 {
    height: 25% !important;
  }
}

@media screen and (max-width: 425px) {
  .flexColumna {
    flex-direction: column;
  }
  .hardware-title {
    font-size: 20px;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
